# Firebase Cloud Storage & Authentication Credentials
VITE_FIREBASE_API_KEY="AIzaSyC8LwAPM1ZLoYdrt-tIVjxELk2gTKmu1H0"
VITE_FIREBASE_AUTH_DOMAIN="akesevai-3bc99.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="akesevai-3bc99"
VITE_FIREBASE_STORAGE_BUCKET="akesevai-3bc99.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="247480748558"
VITE_FIREBASE_APP_ID="1:247480748558:web:ac98c1f1acdb8c1ec90a5f"